target/
bin/
L_*/
.gitconfig
!.mvn/wrapper/maven-wrapper.jar
*.log
*.conf*

# Chrome driver
chromedriver*
!src/test/**/chrome-driver/**/chromedriver*

#################################
#              STS              #
#################################
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
#################################


#################################
#         IntelliJ IDEA         #
#################################
.idea
*.iws
*.iml
*.ipr
#################################


#################################
#           NetBeans            #
#################################
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
#################################
