bin/
.gitconfig
*.log
*.conf*

# Downloaded Directories -------------------------------------------------------
L_*/

# Chrome Driver ----------------------------------------------------------------
chromedriver*
!src/test/**/chrome-driver/**/chromedriver*
src/test/**/chrome-driver/**/chromedriver-m1-*
src/test/**/google-chrome/**/googlechrome-m1-*

# Maven ------------------------------------------------------------------------
target/
!.mvn/wrapper/maven-wrapper.jar

# Spring Tool Suite ------------------------------------------------------------
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

# IntelliJ IDEA ----------------------------------------------------------------
.idea
*.iws
*.iml
*.ipr

# NetBeans ---------------------------------------------------------------------
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
