# --------------------------------------------------------------------------------------------------
# Downloaded Directories
# --------------------------------------------------------------------------------------------------
L_*/

# --------------------------------------------------------------------------------------------------
# Chrome Driver
# --------------------------------------------------------------------------------------------------
/chromedriver
/chromedriver.exe

# --------------------------------------------------------------------------------------------------
# Maven
# --------------------------------------------------------------------------------------------------
target/
!.mvn/wrapper/maven-wrapper.jar

# --------------------------------------------------------------------------------------------------
# Spring Tool Suite
# --------------------------------------------------------------------------------------------------
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

# --------------------------------------------------------------------------------------------------
# IntelliJ IDEA
# --------------------------------------------------------------------------------------------------
.idea
*.iws
*.iml
*.ipr

# --------------------------------------------------------------------------------------------------
# NetBeans
# --------------------------------------------------------------------------------------------------
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# --------------------------------------------------------------------------------------------------
# etc
# --------------------------------------------------------------------------------------------------
bin/
.DS_Store
.gitconfig
*.log
*.conf*
